{% extends 'base.html.twig' %}


{% block container %}

    <h1>Mes produits (X)</h1>

    <div class="row mt-2">

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Nom</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Prix : XX€</h6>
                    <p class="card-text">Description</p>
                    <a href="#" class="card-link">Afficher le produit</a>
                </div>
            </div>
        </div>

    </div>


{% endblock %}