{% extends 'base.html.twig' %}


{% block container %}

    <h1>Créer un utilisateurs | <a href="{{ path('app_user') }}" class"btn btn-sm btn-success"> Retour aux utilisateurs</a></h1>

    <div class="row mt-2">


    </div>


{% endblock %}